modules = ["python-3.11"]

[workflows]
runButton = "bot"

[[workflows.workflow]]
name = "bot"
mode = "sequential"
author = 23431825

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pip install -r requirements.txt"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m NightCityBot.bot"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "python -m NightCityBot.bot"]
